

/* TABLET QUERY (and up)*/
@media only screen and (min-width: 769px) {
    header{
        padding: 10px 20px;
    }
    h1{
        font-size: 48px;
    }
    .bold-emphasis{
        font-weight: bold;
    }
    .inside-heading{
        display: inline;
        font-size: 24px;
    }
    .home-pic-div{
        top: 50px;
        -webkit-transition: width 0.8s, height 0.8s;
        -moz-transition: width 0.8s, height 0.8s;
        -o-transition: width 0.8s, height 0.8s;
        transition: width 0.8s, height 0.8s;
    }
    .hidden-cover{
        display: block;
        -webkit-transition:background-color 0.8s ease;
        -moz-transition: background-color 0.8s ease;
        -o-transition: background-color 0.8s ease;
        transition: background-color 0.8s ease;
        background-color: rgba(0, 0, 0, 0);
        width: 100%;
        height: 100%;
        position: absolute;
    }
    .hov-label{
        display: inline-block;
        text-align: center;
        position: absolute;
        -webkit-transition:color 0.8s ease;
        -moz-transition: color 0.8s ease;
        -o-transition: color 0.8s ease;
        transition: color 0.8s ease;
        color: rgba(255, 255, 255, 0);
        bottom: 10%;
        left: 33%;
        font-size: 200%;
    }
    .home-pic-div:hover .hidden-cover{
        background-color: rgba(26, 26, 26, 0.664);
        
    }
    .home-pic-div:hover .hov-label{
        color: rgb(255, 255, 255);
    }
    .home-pic-div:hover{
        width: 45%;
        height: 65%;
        cursor: pointer;
    }
    .about-me-div{
        font-size: 20px;
        line-height: 24px;
    }
    /* .maze-cover{
        z-index: -2;
        position: fixed;
        background-image: url("../images/bg-seethru.png");
        height: 100vh;
        width: 100%;
    } */
    .maze-anima-link-github{
        background-color: rgb(255, 255, 255);
        position: fixed;
        bottom: -30%;
        left: 5%;
        /* box-shadow: 0 0 100px 10px rgb(152, 255, 255); */
        box-shadow: 0 0 30px 12px rgb(255, 255, 255);
        z-index: -10;
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    .maze-anima-link-linkedin{
        background-color: rgb(255, 255, 255);
        position: fixed;
        bottom: -30%;
        right: 5%;
        /* box-shadow: 0 0 100px 10px rgb(152, 255, 255); */
        box-shadow: 0 0 30px 12px rgb(255, 255, 255);
        z-index: -10;
        width: 100px;
        height: 100px;
    }
    .maze-anima-portfolio{
        /* box-shadow: 0 0 100px 10px rgb(152, 255, 255); */
        box-shadow: 0 0 30px 12px rgb(255, 255, 255);
        z-index: -10;
        width: 150px;
        height: 150px;
    }
    .maze-anima-contact{
        /* box-shadow: 0 0 100px 10px rgb(152, 255, 255); */
        box-shadow: 0 0 30px 12px rgb(255, 255, 255);
        z-index: -10;
        width: 150px;
        height: 150px;
    }
    .maze-anima-design{
        /* box-shadow: 0 0 100px 10px rgb(152, 255, 255); */
        box-shadow: 0 0 30px 12px rgb(255, 255, 255);
        z-index: -10;
        width: 150px;
        height: 150px;


        /* position: fixed;
        border: solid 6px rgb(255, 255, 255);
        background-color: rgb(0, 0, 0);
        border-radius: 10px;
        overflow-y: scroll;
        overflow-x: hidden;
        text-align: center;
        width: 10%;
        height: 15%;
        -webkit-transition:color 0.8s ease, background-color 0.8s ease, width 0.8s , height 0.8s, left 0.8s;
        -moz-transition: color 0.8s ease, background-color 0.8s ease, width 0.8s , height 0.8s, left 0.8s;
        -o-transition: color 0.8s ease, background-color 0.8s ease, width 0.8s , height 0.8s, left 0.8s;
        transition: color 0.8s ease, background-color 0.8s ease, width 0.8s , height 0.8s, left 0.8s;
        bottom: -25%;
        left: 45%; */
    }
    .maze-anima-home-pic{
        opacity: 0;
        /* box-shadow: 0 0 100px 10px rgb(152, 255, 255); */
        box-shadow: 0 0 30px 12px rgb(255, 255, 255);
        /* background-color: rgba(152, 255, 255, 0.6); */
        background-color: rgb(255, 255, 255);
        z-index: -10;    
        height: 52%;
        width: 44%;
        position: fixed;
        top: 120px;
        right: 28%;
        -webkit-transition: height 0.8s, width 0.8s,right 0.8s;
        -moz-transition: height 0.8s, width 0.8s,right 0.8s;
        -o-transition: height 0.8s, width 0.8s,right 0.8s;
        transition: height 0.8s, width 0.8s,right 0.8s;
    }
    .maze-anima-home-pic-hover{
        height: 60%;
        width: 50%;
        right: 25%;
        -webkit-transition: height 0.8s, width 0.8s,right 0.8s;
        -moz-transition: height 0.8s, width 0.8s,right 0.8s;
        -o-transition: height 0.8s, width 0.8s,right 0.8s;
        transition: height 0.8s, width 0.8s,right 0.8s;
    }
    .web-portfolio{
        font-size: 36px;
        position: fixed;
        text-align: center;
        background: rgb(0, 0, 0);
        border: solid 6px rgb(255, 255, 255);
        border-radius: 10px;
        width: 30%;
        height: 15%;
        -webkit-transition:color 0.8s ease, background-color 0.8s ease, width 0.8s , height 0.8s;
        -moz-transition: color 0.8s ease, background-color 0.8s ease, width 0.8s , height 0.8s;
        -o-transition: color 0.8s ease, background-color 0.8s ease, width 0.8s , height 0.8s;
        transition: color 0.8s ease, background-color 0.8s ease, width 0.8s , height 0.8s;
        top: 15%;
        left: -35%;
    }
    .portfolio-icon{
        opacity: 1;
        position: absolute;
        right: 5%;
        height: 80%;
        top: 10%;
        -webkit-transition:opacity 0.8s ease;
        -moz-transition: opacity 0.8s ease;
        -o-transition: opacity 0.8s ease;
        transition: opacity 0.8s ease;
        z-index: 1;
    }
    .portfolio-label{
        position: absolute;
        right: 10%;
        top: 35%;
        font-size: 100%;
        color: rgb(0, 0, 0);
    
    }
    .item-hover:hover{
        /* box-shadow: 0 0 100px 10px rgb(152, 255, 255); */
        width: 40%;
        height: 20%;
        cursor: pointer;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        -webkit-transition:color 0.8s ease, background-color 0.8s ease, width 0.8s , height 0.8s, box-shadow 0.8s;
        -moz-transition: color 0.8s ease, background-color 0.8s ease, width 0.8s , height 0.8s, box-shadow 0.8s;
        -o-transition: color 0.8s ease, background-color 0.8s ease, width 0.8s , height 0.8s, box-shadow 0.8s;
        transition: color 0.8s ease, background-color 0.8s ease, width 0.8s , height 0.8s, box-shadow 0.8s;
    }
    .web-portfolio:hover .portfolio-icon{
        opacity: 0;
    }
    .contact-div{
        font-size: 36px;
        position: fixed;
        text-align: center;
        background: rgb(0, 0, 0);
        border: solid 6px rgb(255, 255, 255);
        border-radius: 10px;
        width: 30%;
        height: 15%;
        -webkit-transition:color 0.8s ease, background-color 0.8s ease, width 0.8s,  height 0.8s;
        -moz-transition: color 0.8s ease, background-color 0.8s ease, width 0.8s,  height 0.8s;
        -o-transition: color 0.8s ease, background-color 0.8s ease, width 0.8s,  height 0.8s;
        transition: color 0.8s ease, background-color 0.8s ease, width 0.8s,  height 0.8s;
        top: 15%;
        right:-35%;
    }
    .contact-icon{
        opacity: 1;
        position: absolute;
        left: 5%;
        height: 80%;
        top: 10%;
        -webkit-transition:opacity 0.8s ease;
        -moz-transition: opacity 0.8s ease;
        -o-transition: opacity 0.8s ease;
        transition: opacity 0.8s ease;
        z-index: 1;
    }
    .contact-label{
        position: absolute;
        left: 10%;
        top: 35%;
        font-size: 100%;
        color: rgb(0, 0, 0);
    
    }
    /* .contact-hover:hover{
        width: 40%;
        height: 20%;
        cursor: pointer;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        -webkit-transition:color 0.8s ease, background-color 0.8s ease, width 0.8s , height 0.8s;
        -moz-transition: color 0.8s ease, background-color 0.8s ease, width 0.8s , height 0.8s;
        -o-transition: color 0.8s ease, background-color 0.8s ease, width 0.8s , height 0.8s;
        transition: color 0.8s ease, background-color 0.8s ease, width 0.8s , height 0.8s;
    } */
    .contact-div:hover .contact-icon{
        opacity: 0;
    }
    .external-link{
        box-shadow: none;
        background: rgb(0, 0, 0);
        border-radius: 5px;
        width: 100px;
        height: 100px;
        -webkit-transition:color 0.8s ease, background-color 0.8s ease, width 0.8s,  height 0.8s, box-shadow 0.8s;
        -moz-transition: color 0.8s ease, background-color 0.8s ease, width 0.8s,  height 0.8s, box-shadow 0.8s;
        -o-transition: color 0.8s ease, background-color 0.8s ease, width 0.8s,  height 0.8s, box-shadow 0.8s;
        transition: color 0.8s ease, background-color 0.8s ease, width 0.8s,  height 0.8s, box-shadow 0.8s;
    }
    .external-link:hover{
        /* box-shadow: 0 0 100px 10px rgb(152, 255, 255); */
        width: 150px;
        height: 150px;
        cursor: pointer;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        -webkit-transition:color 0.8s ease, background-color 0.8s ease, width 0.8s , height 0.8s, box-shadow 0.8s;
        -moz-transition: color 0.8s ease, background-color 0.8s ease, width 0.8s , height 0.8s, box-shadow 0.8s;
        -o-transition: color 0.8s ease, background-color 0.8s ease, width 0.8s , height 0.8s, box-shadow 0.8s;
        transition: color 0.8s ease, background-color 0.8s ease, width 0.8s , height 0.8s, box-shadow 0.8s;
    }
    
    .github-link{
        border-radius: 50%;
        position: fixed;
        bottom: -30%;
        left: 5%;
    }
    .linkedin-link{
        border-radius: 5px;
        position: fixed;
        bottom: -30%;
        right: 5%;
    }
    .external-icon{
        position: absolute;
        opacity: 1;
        width: 100%;
        z-index: 1;
        -webkit-transition:opacity 0.8s;
        -moz-transition: opacity 0.8s;
        -o-transition: opacity 0.8s;
        transition: opacity 0.8s ease;
    }
    .external-link:hover .external-icon{
        opacity: 0;
        -webkit-transition:opacity 0.8s;
        -moz-transition: opacity 0.8s;
        -o-transition: opacity 0.8s;
        transition: opacity 0.8s ease;
    }
    .external-logo{
        width: 80%;
        z-index: 0;
        position: absolute;
        top: 50px;
        padding-left: 10px;
    }
    .portfolio-item-label{
        position: relative;
        bottom: 75px;
        left: 15px;
        display: inline-block;
        font-size: 48px;
    }
    .portfolio-image{
        display: inline-block;
        height: 200px;
        width: 200px;
        margin-bottom: -9px;
    }


    .item-hover-maze-anima{
        /* box-shadow: 0 0 100px 10px rgb(152, 255, 255); */
        width: 40%;
        height: 20%;
        -webkit-transition:width 0.8s , height 0.8s, box-shadow 0.8s;
        -moz-transition: width 0.8s , height 0.8s, box-shadow 0.8s;
        -o-transition: width 0.8s , height 0.8s, box-shadow 0.8s;
        transition: width 0.8s , height 0.8s, box-shadow 0.8s;
    }

    /* central image */
    .home-pic-div{
        border: solid 6px rgb(255, 255, 255);
        border-radius: 10px;
        opacity: 0;
        position: relative;
        display: block;
        margin: auto;
        width: 40%;
        background-color: rgba(0, 0, 0, 0.9);
        height: 60%; 
    }

    .inside-heading{
        color: rgb(107, 107, 107)
    }
    body{
        background-color:rgb(0, 0, 0);
        /* background-image: url(../images/bg.png); */
        color: white;
    }
    header{
        position: relative;
        opacity: 0;
        margin-bottom: 10px;
    }
    /* main content div */
    .main-content{
        /* background-image: url("../images/bg.png"); */
        margin-top:10px;
        position: relative;
        top:0;
        width: 100%;
        height: 80vh;
        overflow-x: hidden;
        overflow-y: auto;
    }
    
    .my-pic {
        border-radius: 10px;
        display: block;
        margin: auto;
        /* width: 100%; */
        z-index: 0;
        padding: 10px;
        height: 50%;
    }
    /* .home-pic-div:after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0) 30%,rgb(0, 0, 0) 70%,rgb(0, 0, 0) 100%);
        position: absolute;
        top: 0; 
        left: 0;
    } */
    /* about me item classes */
    .about-me-div{
        margin: 5% auto;
        width: 70%;
        padding: 2%;
        opacity: 0;
        color: rgb(0, 0, 0);
        background-color: rgb(209, 209, 209);
        -moz-box-shadow:    0 0 15px 15px rgb(209, 209, 209);
        -webkit-box-shadow: 0 0 15px 15px rgb(209, 209, 209);
        box-shadow:         0 0 15px 15px rgb(209, 209, 209);
    }
    /* potfolio item classes */
    .web-portfolio{ 
        text-align: center;
        background: rgb(0, 0, 0);
        overflow: visible;
    }
    /* contact item classes */
    .contact-div{
        text-align: center;
        background: rgb(0, 0, 0);
    }
    /* back arrow styling */
    .back-arrow-div{
        width: 3%;
        position: fixed;
        top: 18%;
        left: -4%;
        opacity: 0;
        -webkit-transition:width 0.5s;
        -moz-transition: width 0.5s;
        -o-transition: width 0.5s;
        transition: width 0.5s;
    }
    .back-arrow{
        width: 100%;
    }
    .back-arrow-div:hover{
        width: 4%;
        cursor: pointer;
    }
    
    
    /* hiding class */
    .hidden-element{
        display: none;
    }
    
    .portfolio-content{
        position: relative;
        opacity: 0;
        overflow-x: hidden;
    }
    /*  */
    .portfolio-item{
        position: relative;
        display: block;
        /* border: solid 4px rgb(255, 255, 255); */
        text-align: left;
        height: 200px;
    }
    .portfolio-item:link, .portfolio-item:visited{
        color: rgb(255, 255, 255);
        text-decoration: none;
        cursor: auto;
    }
    .portfolio-item-description{
        font-size: 24px;
        margin: 20px;
        position: absolute;
        top: 0;
        display: inline;
        z-index: -1;
    }
    .image-label-div{
        position: relative;
        left:0;
        background: linear-gradient(45deg , rgb(139, 139, 159), rgb(2, 2, 2) , rgb(85, 99, 99));
        height:200px;
    }
    .portfolio-image{
        height: 200px;
        width: 200px;
    }
    .portfolio-item:hover{
        cursor: pointer;
        height: 200px;
        -moz-box-shadow:    inset 0 0 15px 15px rgb(213, 241, 241);
        -webkit-box-shadow: inset 0 0 15px 15px rgb(213, 241, 241);
        box-shadow:         inset 0 0 15px 15px rgb(213, 241, 241);
    }
    .repo-link{
        color:rgb(255, 255, 255);
        font-size: 18px;
        text-decoration: none;
        background-color: rgb(105, 176, 218);
        width: 100%;
        padding: 2px;
        border: solid 4px rgb(121, 202, 248);
        border-radius: 5px;
        -webkit-transition: font-size 0.4s;
        -moz-transition: font-size 0.4s;
        -o-transition: font-size 0.4s;
        transition: font-size 0.4s;
    }
    .repo-link:hover{
        font-size:22px;
        -webkit-transition: font-size 0.4s;
        -moz-transition: font-size 0.4s;
        -o-transition: font-size 0.4s;
        transition: font-size 0.4s;
        box-shadow: 0 0 20px 2px rgb(80, 80, 80);
    }
    .repo-link-container{
        /* background: linear-gradient(45deg , rgb(139, 139, 159), rgb(2, 2, 2) , rgb(85, 99, 99)); */
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 40px;
    }
    .portfolio-divider{
        margin:0;
        border: solid 4px rgb(255, 255, 255);
    }
    .contact-content{
        background: linear-gradient(rgb(202, 202, 202), rgb(231, 231, 231) , rgb(201, 201, 201));
        color: rgb(0, 0, 0);
        height: 100%;
    }
    .contact-content h3{
        padding: 24px;
    }
    .contact-box{
        width: 80%;
        height: 24px;
        border-radius: 5px;
    }
    .message-box{
        width: 80%;
        height: 72px;
        border-radius: 5px;
    }
    .submit-button{
        background-color: rgb(73, 73, 73);
        color: rgb(202, 202, 202);
        /* border: solid 3px rgb(0, 0, 0); */
        border-radius: 4px;
        font-size: 24px;
    }
    .home-pic-div-text{
        padding: 10px;
        text-align: center;
    }
    
    .overall-maze-fill{
        top: 0;
        left: 0;
        position: fixed;
        z-index: -15;
        height: 500vh;
        width: 500vh;
        /* background-color: rgba(152, 255, 255, 0.15); */

        animation: pulse 20s infinite;
    }

    @keyframes pulse {
        0% {
          background-color: rgb(39, 151, 151);
        }
        25%{
            background-color: rgb(30, 32, 128);
        }
        50% {
            background-color: rgb(153, 38, 38);
        }
        75%{
            background-color: rgb(39, 146, 36);
        }
        100% {
          background-color: rgb(39, 151, 151);
        }
      }
    
    .maze-cover{
        z-index: -2;
        position: fixed;
        background-image: url("../images/bg-seethru.png");
        height: 100vh;
        width: 100%;
    }
    .mobile-portfolio-buttons-div{
        display: none;
    }
    .mobile-portfolio-item-label{
        display: none;
    }

    .design-samples-div{
        /* z-index: 100; */
        position: fixed;
        /* top:10%; */
        /* width: 80%; */
        /* height: 75vh; */
        /* right: 10%; */
        border: solid 6px rgb(255, 255, 255);
        background-color: rgb(0, 0, 0);
        border-radius: 10px;
        overflow-y: scroll;
        overflow-x: hidden;
        text-align: center;


        width: 10%;
        height: 15%;
        -webkit-transition:color 0.8s ease, background-color 0.8s ease, width 0.8s , height 0.8s, left 0.8s;
        -moz-transition: color 0.8s ease, background-color 0.8s ease, width 0.8s , height 0.8s, left 0.8s;
        -o-transition: color 0.8s ease, background-color 0.8s ease, width 0.8s , height 0.8s, left 0.8s;
        transition: color 0.8s ease, background-color 0.8s ease, width 0.8s , height 0.8s, left 0.8s;
        bottom: -25%;
        left: 45%;
    }
    .design-sample-image{
        display: inline-block;
        /* margin:0 -3px; */
        margin: 10px;
        padding: 0;
        border: none;
        /* text-align: center; */
        height:25vh;
        width: auto;
        box-shadow: none;
        -webkit-transition: width 0.5s, height 0.5s, box-shadow 0.5s, margin 0.5s;
        -moz-transition: width 0.5s, height 0.5s, box-shadow 0.5s, margin 0.5s;
        -o-transition: width 0.5s, height 0.5s, box-shadow 0.5s, margin 0.5s;
        transition: width 0.5s, height 0.5s, box-shadow 0.5s, margin 0.5s;
        
    }
    .design-sample-image:hover{
        height: 28vh;
        margin: 0;
        box-shadow: 0 0 20px 10px rgb(152, 255, 255);
        -webkit-transition: width 0.5s, height 0.5s, box-shadow 0.5s, margin 0.5s;
        -moz-transition: width 0.5s, height 0.5s, box-shadow 0.5s, margin 0.5s;
        -o-transition: width 0.5s, height 0.5s, box-shadow 0.5s, margin 0.5s;
        transition: width 0.5s, height 0.5s, box-shadow 0.5s, margin 0.5s;
    }
    .design-div-hover:hover{
        width: 24%;
        height: 20%;
        left: 38%;
        cursor: pointer;
        background-color: rgb(255, 255, 255);
    }

    .design-div-hover:hover .design-sample-label{
        opacity: 1;
        color: rgb(0, 0, 0);
        font-size: 36px;
    }

    .design-div-hover:hover .design-icon{
        opacity: 0;
    }
    .design-sample-label{
        opacity: 0;
        position: relative;
        top: 20px;
    }
    .design-icon{
        opacity: 1;
        position: absolute;
        right: 35%;
        width: 30%;
        top: 10%;
        -webkit-transition:opacity 0.8s ease;
        -moz-transition: opacity 0.8s ease;
        -o-transition: opacity 0.8s ease;
        transition: opacity 0.8s ease;
        z-index: 1;
    }
    .design-down-arrow{
        width:4%;
        -webkit-transition:width 0.8s ease;
        -moz-transition: width 0.8s ease;
        -o-transition: width 0.8s ease;
        transition: width 0.8s ease;
    }
    .down-arrow-highlight{   
        height: 0.1%;
        width: 0.1%;
        /* border-radius: 50%; */
        display: inline-block;
        box-shadow: 0 0 25px 21px rgba(152, 255, 255, 0.7);
        background-color: rgba(152, 255, 255, 0.7);
        position: absolute;
        top: 4%;
        right: 50.2%;
        z-index: -1;
        opacity: 0;
    }
    .design-down-arrow:hover{
        width:6%;
        -webkit-transition:width 0.8s ease;
        -moz-transition: width 0.8s ease;
        -o-transition: width 0.8s ease;
        transition: width 0.8s ease;
        cursor: pointer;
    }
    .design-div-hover-maze-anima{
        /* box-shadow: 0 0 100px 10px rgb(152, 255, 255); */
        width: 24%;
        height: 20%;
        left: 38%;
        -webkit-transition:width 0.8s , height 0.8s, box-shadow 0.8s, left 0.8s;
        -moz-transition: width 0.8s , height 0.8s, box-shadow 0.8s, left 0.8s;
        -o-transition: width 0.8s , height 0.8s, box-shadow 0.8s, left 0.8s;
        transition: width 0.8s , height 0.8s, box-shadow 0.8s, left 0.8s;
    }
}